#overlay {
    background-color: rgba(0, 35, 82, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

#overlay.show {
    opacity: 1;
}